In [5]:
import psycopg2
import csv

In [23]:
import numpy as np

* My csv files:
* course_offerings.csv
* courses.csv
* grade_distributions.csv
* instructors.csv
* rooms.csv
* schedules.csv
* sections.csv
* subject_memberships.csv
* subjects.csv
* teachings.csv

In [12]:
conn = psycopg2.connect("dbname=mod2project")
cur = conn.cursor()

In [64]:
cur.execute(create_query)

In [65]:
conn.commit()

In [68]:
query = f"""
INSERT INTO {table}
  ({', '.join(fields)})
VALUES
  ({', '.join('%s' for _ in range(len(fields)))})
"""

In [ ]:
create_query = """
CREATE TABLE courses(
  uuid text PRIMARY KEY
, name text 
, number integer
)
"""

In [ ]:
create_query = """
CREATE TABLE course_offerings(
  uuid text
, course_uuid text 
, term_code integer
, name text
)
"""

In [ ]:
create_query = """
CREATE TABLE grade_distributions(
  course_offering_uuid text
, section_number text 
, a_count integer
, ab_count integer
, b_count integer
, bc_count integer
, c_count integer
, d_count integer
, f_count integer
, s_count integer
, u_count integer
, cr_count integer
, n_count integer
, p_count integer
, i_count integer
, nw_count integer
, nr_count integer
, other_count integer
, PRIMARY KEY (course_offering_uuid, section_number)
)
"""

In [ ]:
create_query = """
CREATE TABLE instructors(
  id integer PRIMARY KEY
, name text
)
"""

In [ ]:
create_query = """
CREATE TABLE rooms(
  uuid text PRIMARY KEY
, facility_code text
, room_code text
)
"""

In [ ]:
create_query ="""
CREATE TABLE schedules(
  uuid text PRIMARY KEY
, start_time integer
, mon integer
, tues integer
, wed integer
, thurs integer
, fri integer
, sat integer
, sun integer
)
"""

In [ ]:
"""CREATE TABLE sections(
            uuid text PRIMARY KEY,
            course_offering_uuid text,
            section_type text,
            number text,
            room_uuid text,
            schedule_uuid text)"""

In [ ]:
"""CREATE TABLE subject_memberships(
            subject_code integer PRIMARY KEY,
            course_offering_uuid text)"""

In [ ]:
"""CREATE TABLE subjects(
            code integer PRIMARY KEY,
            name text,
            abbreviation text)"""

In [ ]:
"""CREATE TABLE teachings(
            instructor_id integer PRIMARY KEY,
            section_uuid text)"""

In [ ]:
table = 'grade_distributions'

In [ ]:
fields = tuple(line.strip(", ").split()[0] for 
               line in create_query.split('\n')[2:-3])

In [69]:
with open('courses.csv', 'r') as f:
    reader = csv.reader(f)
    next(reader)  # Skip the header row.
    for row in reader:
        cur.execute(
            query,
            row
        )
conn.commit()