In [1]:
import psycopg2
import csv
import pandas as pd

In [2]:
conn = psycopg2.connect("dbname=mod2project")
cur = conn.cursor()

# Put one csv file into a table

In [22]:
create_query = """
CREATE TABLE courses(
  uuid text PRIMARY KEY
, name text 
, number integer
)
"""

In [23]:
cur.execute(create_query)

In [24]:
conn.commit()

In [25]:
table = 'courses'

In [26]:
fields = tuple(line.strip(", ").split()[0] for 
               line in create_query.split('\n')[2:-2])

In [27]:
fields

('uuid', 'name', 'number')

In [28]:
query = f"""
INSERT INTO {table}
  ({', '.join(fields)})
VALUES
  ({', '.join('%s' for _ in range(len(fields)))})
"""

In [29]:
with open('raw_data/courses.csv', 'r') as f:
    reader = csv.reader(f)
    next(reader)  # Skip the header row.
    for row in reader:
        cur.execute(
            query,
            row
        )
conn.commit()

In [32]:
###Drop the courses column to do what I did above for all the tables
# cur.execute("""DROP TABLE courses;""")
# conn.commit()

# Now do that in a for loop

In [3]:
create_query_1 = """
CREATE TABLE courses(
  uuid text PRIMARY KEY
, name text 
, number integer
)
"""

In [4]:
create_query_2 = """
CREATE TABLE course_offerings(
  uuid text
, course_uuid text 
, term_code integer
, name text
)
"""

In [5]:
create_query_3 = """
CREATE TABLE grade_distributions(
  course_offering_uuid text
, section_number text 
, a_count integer
, ab_count integer
, b_count integer
, bc_count integer
, c_count integer
, d_count integer
, f_count integer
, s_count integer
, u_count integer
, cr_count integer
, n_count integer
, p_count integer
, i_count integer
, nw_count integer
, nr_count integer
, other_count integer
)
"""

In [6]:
create_query_4 = """
CREATE TABLE instructors(
  id integer PRIMARY KEY
, name text
)
"""

In [7]:
create_query_5 = """
CREATE TABLE rooms(
  uuid text 
, facility_code text
, room_code text
)
"""

In [8]:
create_query_6 = """
CREATE TABLE schedules(
  uuid text 
, start_time integer
, end_time integer
, mon text
, tues text
, wed text
, thurs text
, fri text
, sat text
, sun text
)
"""

In [9]:
create_query_7 = """
CREATE TABLE sections(
  uuid text 
, course_offering_uuid text
, section_type text
, number text
, room_uuid text
, schedule_uuid text
)
"""

In [10]:
create_query_8 = """
CREATE TABLE subject_memberships(
  subject_code integer 
, course_offering_uuid text
)
"""

In [11]:
create_query_9 = """
CREATE TABLE subjects(
  code text 
, name text
, abbreviation text
)
"""

In [12]:
create_query_10 = """
CREATE TABLE teachings(
  instructor_id integer
, section_uuid text
)
"""

In [13]:
create_tables = [create_query_1, create_query_2, create_query_3, create_query_4,
                create_query_5, create_query_6, create_query_7, create_query_8,
                create_query_9, create_query_10]

In [14]:
names_of_tables = ['courses', 'course_offerings', 'grade_distributions', 'instructors', 
                   'rooms', 'schedules', 'sections', 'subject_memberships', 
                   'subjects', 'teachings']

These sections needed to be edited to work: 
* teachings
* subjects
* subject_memberships
* schedules

--Below are the functions--

In [15]:
for query in create_tables:
    cur.execute(query)
    conn.commit()

In [16]:
all_fields = []
for query in create_tables:
    fields = tuple(line.strip(", ").split()[0] for line in query.split('\n')[2:-2])
    all_fields.append(fields)

In [56]:
##skip for now 
# for i in range(9):
#     query = f"""INSERT INTO {names_of_tables[i]}({', '.join(all_fields[i])})
#             VALUES({', '.join('%s' for _ in range(len(all_fields[i])))})"""
    
#     with open(f'raw_data/names_of_tables{i}.csv', 'r') as f:
#     reader = csv.reader(f)
#     next(reader)  # Skip the header row.
#     for row in reader:
#         cur.execute(
#             query,
#             row
#         )

In [44]:
#I did what should be in an easy for loop manually -- this should not be repeated 

query = f"""INSERT INTO {names_of_tables[9]}({', '.join(all_fields[9])})
            VALUES({', '.join('%s' for _ in range(len(all_fields[9])))})"""

In [45]:
#I did what should be in an easy for loop manually -- this should not be repeated 

with open('raw_data/teachings.csv', 'r') as f:
    reader = csv.reader(f)
    next(reader)  # Skip the header row.
    for row in reader:
        cur.execute(
            query,
            row
        )

In [46]:
conn.commit()

At the end of this notebook we will have all the data in all the tables in the database